@charset "utf-8";
@import "base";

html, body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
  line-height: 1.5;
}

@mixin yaHei() {
  font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", SimSun, "Arial Narrow";
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

.warp {
  @include container;
  @include clearfix;
}

.pager-head {
  background: #ffffff;
  height: 30px;
  border-bottom: 1px solid #f0f0f0;
  .nav-head {
    @include container($main-width static);
    @include layout($susy float inside);
    @include clearfix;
    height: 30px;
    position: relative;
    .logo {
      color: #585858;
      margin-left: -8px;
      @include span(4 of 12 frist);
      img {
        height: 24px;
        width: 24px;
        line-height: 30px;
        margin-top: 2px;
        vertical-align: middle;
      }
      .logotxt {
        font-size: 12px;
        margin-left: 10px;
        position: relative;
      }
    }
    .nav {
      font-size: 12px;
      height: 30px;
      left: -38px;
      top: 0;
      position: absolute;
      li {
        list-style-type: none;
        padding: 0;
        text-align: center;
        float: left;
        margin-right: 20px;
        &.line{
          font-size: 1.2em;
          line-height: 30px;
          color: #afafaf;
          font-family: normal;
        }
        > a {
          color: $base_main_font_color;
          line-height: 30px;
        }
      }
    }
  }
}

.pager-content {
  .silder-banner {
    @include container;
    @include clearfix;
    height: 350px;
    .silder-container{
      top: 30px;
      height: 350px;
      width: 100%;
      position: absolute;
    }
    .silder-item {
      width: $main-width;
      height: 350px;
      text-align: center;
      margin: auto;
      background: url("../images/banner_03.png") no-repeat center;
      display: table;
      vertical-align: middle;
      position: relative;
      > span {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      img {
        height: auto;
        width: 100%;
        vertical-align: middle;
      }
    }
    .wd{
      display: table-cell;
      vertical-align: middle;
      position: relative;
      .w1{
        width: 70px;
        height: 88px;
        position: absolute;
        left: 0px;
        top: 101px;
      }
      .w2{
        width: 92px;
        height: 72px;
        position: absolute;
        left: 95px;
        top: 107px;
      }
      .w3{
        width: 185px;
        height: 206px;
        position: absolute;
        left: 60px;
        top: 57px;
      }
    }
  }
  .nav-full {
    background: #ffffff;
    height: 80px;
    font-size: 20px;
    .nav-sub {
      @include container($main-width static);
      .nav1 {
        @include span(10 frist);
        margin-left: -48px;
        li {
          @include yaHei;
          height: 80px;
          @include gallery(1 of 7);
          list-style-type: none;
          text-align: center;
          > a {
            color: $base_main_font_color;
            display: block;
            height: 80px;
            line-height: 80px;
          }
          &:hover, &.active {
            background: $base_head_Bg;
            a {
              color: #ffffff;
            }
          }
        }
      }
      .nav2 {
        @include span(2 last);
        margin-right: -10px;
        height: 50px;
      }
    }
  }
  #nav-full.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    color: #ffffff;
    background:$base_head_Bg;
    @include myfilter(0.96);
    .nav1 #nav{
      li{
        a{
          color: #ffffff;
        }
        &:hover, &.active {
          background: #ffffff;
          a {
            color: $base_head_Bg;
          }
        }
      }
    }
    .nav2 .btn-buy{
      background: $base_btn_Bg;
      color: #ffffff;
      &:hover{
        background: #fff;
        color: $base_btn_Bg;
      }
    }
  }

  .pager-main {
    background: $base_main_Bg;
    .pager-main-container {
      padding-top: 40px;
      @include container($main-width static);
      .des-item {
        padding-top: 28px;
        @include yaHei;
        .des-title {
          background: $base_main_Bg_match;
          height: 50px;
          width: 100%;
          font-size: 26px;
          line-height: 50px;
          color: #585858;
          .icontxt {
            color: #ffffff;
            background: $base_head_Bg;
            width: 180px;
            height: 50px;
            text-align: right;
            display: inline-block;
            padding: 0 10px;
            margin-right: 20px;
            .icon {
              height: 28px;
              width: 28px;
              display: inline-block;
              position: relative;
              top: 4px;
              left: -20px;
              &.nianhui {
                background: url("../images/icon_00.png") no-repeat center;
              }
              &.liangdian {
                background: url("../images/icon_01.png") no-repeat center;
              }
              &.yicheng {
                background: url("../images/icon_02.png") no-repeat center;
              }
              &.jiabin {
                background: url("../images/icon_03.png") no-repeat center;
              }
              &.menpiao {
                background: url("../images/icon_04.png") no-repeat center;
              }
              &.jigou {
                background: url("../images/icon_05.png") no-repeat center;
              }
              &.didian {
                background: url("../images/icon_06.png") no-repeat center;
              }

            }
          }
        }
        .des-body {
          padding-left: 20px;
          padding-right: 20px;
          font-size: 16px;
          line-height: 1.5rem;
          color: #606060;
          @include container;
          .cp {
//            color: $base_head_Bg;
            color: #000000;
            font-weight: bold;
          }

          .p-content{
            font-family: "YaHei", "微软雅黑";
            padding: 20px 0 0px 0;
            line-height: 1.5;
            img{
              margin-top:10px;
              margin-bottom:10px;
              margin-left:auto;
              margin-right:auto;
              display: block;
            }
          }

          p{
            &.p0{margin: 0;padding: 0;padding: 5px 0}
            &.p1{margin: 0;padding: 0;text-indent:2em;padding: 5px 0}
            &.h1{
              font-size: 26px;
              margin-left: -15px;
              margin-top: 30px;
            }
          }

        }
        table.bm-table {
          border-collapse:separate;
          border-spacing:0;
          &.first {
            margin: 34px 0;
          }
          &.last {
            margin-bottom: 34px;
          }
          width: 100%;
          text-align: left;
          background: #eaeaea;
          color: #7a7a7a;
          td {
            padding: 10px 25px;
            line-height: 1.5;
            border: 1px #b7b7b7 dotted;
            width: 371px;
            &.rs {
              width: 222px;
              text-align: center;
            }
          }
        }
        table.bm-table-t {
          border-collapse:separate;
          border-spacing:0;
          width: 960px;
          margin: -10px auto 30px;
          text-align: left;
          background: #eaeaea;
          color: #7a7a7a;
          td{
            padding: 10px 25px;
            line-height: 1.5;
          }
          thead td{
            text-align: center;
            color: #ffffff;
            background: #5c6e84;
            &.one{
              width: 220px;
            }
            &.two{
              width: 190px;
            }
            &.border{
              border-left: 1px solid #ffffff;
              border-right: 1px solid #ffffff;
            }
          }
          tbody {
            tr.f td{
              border-top: none;
            }
            td{
              border: 1px #b7b7b7 dotted;
              padding: 35px 20px;
              &.rs {
                width: 222px;
                text-align: center;
              }
            }

          }
        }

        /** 嘉宾 1.0版 **/
        .social {
          padding: gutter();
          @include clearfix;
          margin-left: -70px;
          margin-top: 20px;
          .social-item {
            list-style-type: none;
            @include gallery(2 of 6);
            margin-bottom: gutter(6);
            text-align: center;
            img {
              @include border-radius(100%);
              vertical-align: middle;
              transition: all 0.4s ease-in-out;
              &:hover {
                transition: all 0.4s ease-in-out;
                transform: scale(1.18);
                cursor: pointer;
              }
            }
            h4 {
              color: #000000;
              margin: 20px 0;
              font-size: 22px;
            }
            h5 {
              color: #636363;
              font-size: 20px;
              margin: 5px 0;
            }
            p {
              margin-top: 10px;
              text-align: left;
              font-size: 18px;
              color: #878787;
              line-height: 1.5;
            }
          }
        }

        /** 嘉宾 卡片版  **/
        .social2 {
          padding: gutter();
          @include clearfix;
          margin-left: -70px;
          margin-top: 20px;
          .social-item {
            list-style-type: none;
            @include gallery(2 of 6);
            margin-bottom: 40px;
            text-align: left;
            height: 410px;
            .info {
              height: 100%;
              width: 320px;
              position: relative;
              background: #ffffff;
              margin: auto;
              &:hover {
                box-shadow: 0 4px 10px #bbbbbb;
              }
              .info-sm {
                padding: 20px 14px;
                font-size: 20px;
                width:100%;
                height: 140px;
                background: #ffffff;
                &.absolute{
                  left: 0;
                  top: 270px;
                  position: absolute;
                }
                h4{
                  color: #000;
                  margin:0 0 16px 0;
                  padding: 0;
                }
                h5{
                  color: #585858;
                  margin: 0;
                  padding: 0;
                  line-height: 1.5;
                }
              }
            }
            .info-dr {
              font-size: 16px;
              line-height: 1.8;
              letter-spacing:2px;
              padding-top: 15px;
              color: #585858;
              width: 100%;
              text-align: left;
              text-overflow: ellipsis;
            }
            .photo-img{
              height: 270px;
              width: 100%;
              overflow: hidden;
              img {
                vertical-align: middle;
                height: 270px;
                width: 100%;
                transition: all 0.3s ease-in-out;
                &:hover{
                  transition: all 0.3s ease-in-out;
                  transform: scale(1.08);
                }
              }
            }
            .photo-img-m{
              width: 62px;
              height: 62px;
              margin-right: 15px;
              vertical-align: middle;
            }
          }
        }

        .tickets {
          padding-top: 20px;
          height: 120px;
          position: relative;
          .price {
            position: absolute;
            left: 0;
            color: #000000;
            .c1 {
              color: #009fff;
            }
            .c2 {
              color: #ef3f2d;
            }
          }
          .btn-buy {
            position: absolute;
            right: 0;
            bottom: 55px;
          }
        }

        /**合作伙伴**/
        .co-author {
          margin-left: -40px;
          margin-top: 26px;
          margin-bottom: 20px;
          @include clearfix;
          .co-author-item {
            list-style-type: none;
            @include gallery(4 of 24);
            margin-bottom: gutter(8);
            text-align: center;
            img {
              border: 1px solid #d2d2d2;
            }
          }
        }
        .address-txt {
          color: $base_head_Bg;
          font-size: 20px;
          margin-bottom: 40px;
          > span {
            color: $base_main_font_color;
          }
        }
      }
    }
  }
  .btn-buy {
    margin-top: 14px;
    text-align: center;
    display: block;
    padding: 10px 20px;
    background: $base_btn_Bg;
    color: #ffffff;
    &:hover{
      background: #fff;
      color: $base_btn_Bg;
      border: 1px solid $base_btn_Bg;
    }
  }
  .wd{
    padding-bottom: 30px;
    .w{
      color: #000000;
      padding-top: 20px;
      margin: 0;
      font-size: 18px;

    }
    .d{
      padding-top: 8px;
      color: $base_font_color;
      margin: 0;
      font-size: 18px;
      a{
        color: $base_font_color;
      }
    }
  }
}

.pager-foot {
  color: #878787;
  background: #333333;
  .one {
    height: 164px;
    .content {
      @include container($main-width static);
      @include layout($susy float inside);
      position: relative;
      height: 164px;
      .fl {
        position: absolute;
        left: 0;
        top: 58px;
      }
      .fr {
        text-align: center;
        margin-top: 20px;
        position: absolute;
        right: 0;
        width: 550px;
        @include container;
        .frl {
          @include span(20 of 48 frist);
          border-right:1px solid #C5C0C0 ;
          .qrcode-des {
            font-size: 12px;
          }
        }
        .frr {
          text-align: left;
          @include span(28 of 48 last);
        }
        p {
          padding: 0;
          line-height: 1.5;
          margin: 0;
        }
        h5 {
          padding: 0;
          font-size: 18px;
          color: #878787;
          margin: 0 0 22px;
        }
        a {
          color: #878787;
        }
      }

    }
  }
  .two {
    text-align: center;
    height: 56px;
    line-height: 56px;
  }
}

#backtotop{
  right: 241.5px;
  display: block;
  position: fixed;
  bottom: 100px;
}
#backtotop .bttbg {
  width: 60px;
  height: 60px;
  background: url(../images/go_top.png) no-repeat 0px 0px;
}

#backtotop .bttbg:hover {
  background-position: -62px 0;
}