@charset "utf-8";

// susy 配置
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
);
@include border-box-sizing;

// 样式变量参数

// 基础字体大小
$base-default-font-size: 14px;

//基础字体颜色
$base_font_color: #999999;

//基础字体颜色(标题)
$base_font_color_title: #333333;

//基础字体颜色-配色(标题)
$base_font_color_match_title: #ffffff;

//基础head头部背景色
$base_head_Bg: #1fcaa0;

// 基础按钮颜色
$base_btn_Bg: #009fff;
// 基础背景色
$base_main_Bg: #f5f5f5;

$base_main_font_color: #585858;

$base_main_Bg_match: #eaeaea;

//基础分割线颜色
$base_line_color: #ebebeb;


$main-width:1000px;



