@charset "utf-8";
@import "var";


img {
  border: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:link, :visited, ins {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sub, sup {
  font-size: 100%;
  vertical-align: baseline;
}

blockquote, q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

i, cite, em, address {
  font-style: normal;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.clearfix:before {
  display: block;
  content: "\200b";
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.hide, .tmpl {
  display: none;
}

.bs-text-center {
  text-align: center;
}

.bs-text-left {
  text-align: left;
}

.bs-text-right {
  text-align: right;
}

.bs-pull-left {
  float: left;
}

.bs-pull-right {
  float: right;
}

$columnW: 8.33333%;
.bs-column-1 {
  width: $columnW;
  float: left;
}

.bs-column-2 {
  width: $columnW*2;
  float: left;

}

.bs-column-3 {
  width: $columnW*3;
  float: left;

}

.bs-column-4 {
  width: $columnW*4;
  float: left;

}

.bs-column-5 {
  width: $columnW*5;
  float: left;

}

.bs-column-6 {
  width: $columnW*6;
  float: left;

}

.bs-column-7 {
  width: $columnW*7;
  float: left;

}

.bs-column-8 {
  width: $columnW*8;
  float: left;

}

.bs-column-9 {
  width: $columnW*9;
  float: left;

}

.bs-column-10 {
  width: $columnW*10;
  float: left;

}

.bs-column-11 {
  width: $columnW*11;
  float: left;

}

.bs-column-12 {
  width: $columnW*12;
  float: left;

}

.bs-p{padding: 0.2em 0}
img{
  &.bs-rep-img{
    width: 100%;
    height: auto;
    display: block;
    @include center-block();
  }
  &.bs-full-border{
    border: 1px solid #cccccc;
  }
}

.bs-warp{width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; *zoom: 1;position: relative}
.bs-inner {
  width: 95%; margin-left:0;
}
.bs-row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  *zoom: 1;
  position: relative ;
}
.bs-row:before, .bs-row:after { content: " "; display: table; }
.bs-row:after { clear: both; }
.bs-relative{
  position: relative;
}

.bs-round{
  @include border-radius(100%);
}




